
.titulo {
    margin: auto;
    padding: 2rem;
    text-align: center;

}

.formulariocontacto {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 2rem;
    gap: 2rem;
    border: 2px solid lightgray;
    border-radius: 10px;
}


.formulariocontacto input[type="text"]::placeholder,
.formulariocontacto input[type="email"]::placeholder,
.formulariocontacto textarea::placeholder {
    color: lightgray !important;
    font-style: italic !important;
    opacity: 1 !important;
}


