.registerform input[type="email"]::placeholder,
.registerform input[type="password"]::placeholder,
.registerform input[type="text"]::placeholder {
    color: lightgray !important;
    font-style: italic !important;
    opacity: 1 !important;
}